* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*  Primary  */
  --Softred: hsl(7, 99%, 70%);
  --Softredbtn: hsla(0, 100%, 85%, 0.699);
  --Yellow: hsl(51, 100%, 49%);
  --Yellowbtn: hsla(51, 100%, 79%, 0.541);
  --Darkdesaturatedcyangraphicdesigntext: hsl(167, 40%, 24%);
  --Darkbluephotographytext: hsl(198, 62%, 26%);
  --Darkmoderatecyanfooter: hsl(168, 34%, 41%);

  /* ### Neutral */
  --Verydarkdesaturatedblue: hsl(212, 27%, 19%);
  --Verydarkgrayishblue: hsl(213, 9%, 39%);
  --Darkgrayishblue: hsl(232, 10%, 55%);
  --Grayishblue: hsl(210, 4%, 67%);
  --Grayishbluesoft: hsla(207, 60%, 88%, 0.548);
  --White: hsl(0, 0%, 100%);
}

body {
  font-size: 18px;
  min-height: 100vh;
  font-family: 'Barlow', sans-serif;
}

.testimonials h3,
.name,
.text-item h2,
button,
.gallery-items h2,
.header-title h1,
nav.nav-bar .nav-links .links:last-child a {
  font-family: 'Fraunces', serif;
}

.nav-container {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0rem;
  padding: 0 2.4rem;
}

header {
  position: relative;
}

.header-title {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  color: var(--White);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.5rem;
  text-align: center;
  top: 27%;
}

img {
  max-width: 100%;
}

.nav-links {
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: var(--White);
  width: 80%;
  height: 20rem;
  top: 16%;
  left: 10%;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.nav-links li a {
  color: var(--Verydarkgrayishblue);
}

nav.nav-bar .nav-links .links:last-child button {
  background-color: var(--Yellow);
  color: var(--Verydarkdesaturatedblue);
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
}
.nav-links::before {
  content: '';
  position: absolute;
  top: -27px;
  right: -13px;
  width: 0;
  height: 0;
  border-left: 23px solid transparent;
  border-right: 23px solid transparent;
  border-bottom: 40.3px solid var(--White);
  transform: rotate(30deg);
}

.show {
  display: flex;
}

.flex-gallery {
  display: flex;
  flex-direction: column;
}

.text-show {
  position: relative;
}

.text-s {
  height: 29rem;
  text-align: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.text-s h2 {
  font-size: 2.7rem;
  color: var(--Verydarkdesaturatedblue);
  margin-bottom: 2rem;
}
.text-s p {
  font-size: 1.3rem;
  color: var(--Darkgrayishblue);
  font-weight: 600;
  line-height: 1.5;
}

.flex-gallery .gallery-items button {
  position: absolute;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  color: var(--Verydarkdesaturatedblue);
  font-weight: 700;
  font-size: 1.3rem;
  bottom: 0;
  right: 30%;
  margin-bottom: 4rem;
  cursor: pointer;
}

.btn-accent1::after {
  content: '';
  position: absolute;
  top: 70%;
  right: 0%;
  width: 100%;
  height: 0.5rem;
  background-color: var(--Yellowbtn);
  border-radius: 50px;
  z-index: -1;
}

.btn-accent1:hover::after {
  background-color: var(--Yellow);
}

.btn-accent2::after {
  content: ''; /* Contenido vacío para el ::after */
  position: absolute; /* Establecer la posición absoluta para que la línea se coloque en relación al botón */
  top: 70%; /* Posicionar la línea en el centro vertical del botón */
  right: 0%; /* Posicionar la línea al final del botón */
  width: 100%; /* Ancho de la línea */
  height: 0.5rem; /* Altura de la línea */
  background-color: var(--Softredbtn); /* Color de la línea */
  border-radius: 50px;
  z-index: -2;
}

.btn-accent2:hover::after {
  background-color: var(--Softred);
}
.text-item {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  bottom: 5rem;
  padding: 1rem 0.7rem;
  text-align: center;
}

.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonials h3 {
  margin-top: 2rem;
  margin-bottom: 3rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--Darkgrayishblue);
  font-size: 1rem;
}

.person-testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 90%;
  text-align: center;
  margin-bottom: 4rem;
  cursor: pointer;
}

.person-testimonial img {
  width: 3.5rem;
  border-radius: 50vh;
}

.name {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--Verydarkdesaturatedblue);
}

.profession {
  color: var(--Grayishblue);
  font-size: 1rem;
}

.img-gallery {
  display: grid;
  font-size: 0;
  grid-template-columns: repeat(2, 1fr);
}

footer {
  background-color: var(--Darkmoderatecyanfooter);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 17rem;
  gap: 3rem;
  width: 100%;
}

footer .logo {
  margin-top: 3rem;
}

.social-icons {
  display: flex;
  gap: 1rem;
}

.nav-links,
.footer-links {
  list-style-type: none;
}

li a {
  color: var(--Darkdesaturatedcyangraphicdesigntext);
  font-weight: 500;
  text-decoration: none;
}

.footer-nav {
  display: flex;
  gap: 2.5rem;
  justify-content: space-between;
}

.footer-nav li a:hover {
  color: var(--White);
}

.social-icons {
  cursor: pointer;
}

#icon {
  transition: fill 0.3s ease; /* Transición suave */
}

.icon:hover {
  fill: rgb(44, 36, 36); /* Cambia el color del SVG al hacer hover */
}
@media (min-width: 650px) {
  .flex-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .nav-links {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    top: 1.3rem;
    right: 0;
    justify-content: flex-end;
    padding-right: 2rem;
  }
  .nav-links li a {
    color: var(--White);
  }
  nav.nav-bar .nav-links .links:last-child button {
    background-color: var(--White);
  }

  nav.nav-bar .nav-links .links:last-child button:hover {
    background-color: var(--Grayishbluesoft);
    color: var(--White);
  }

  .nav-links::before {
    display: none;
  }
  .nav-btn {
    display: none;
  }

  .header-title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .header-title h1 {
    font-size: 3rem;
  }
  .one {
    grid-area: 1 / 1 / 2 / 2;
  }

  .testimonials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    padding: 3rem;
    gap: 1rem;
  }

  .testimonials h3 {
    grid-area: 1 / 1 / 2 / 4;
    justify-self: center;
  }

  .img-gallery {
    display: flex;
  }
}
